/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * bitter:
 *   - http://typekit.com/eulas/00000000000000003b9b364d
 *   - http://typekit.com/eulas/00000000000000003b9b3649
 * brandon-grotesque:
 *   - http://typekit.com/eulas/0000000000000000000132df
 *   - http://typekit.com/eulas/0000000000000000000132e3
 *   - http://typekit.com/eulas/0000000000000000000132dd
 *   - http://typekit.com/eulas/0000000000000000000132e1
 *   - http://typekit.com/eulas/0000000000000000000132e5
 * fira-mono:
 *   - http://typekit.com/eulas/00000000000000003b9b4001
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-11-30 22:11:51 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=hzn4qhc&ht=tk&f=10294.10296.10300.10302.10304.15982.15984.22487&a=15108808&app=typekit&e=css");

@font-face {
font-family:"brandon-grotesque";
src:url("https://use.typekit.net/af/1da05b/0000000000000000000132df/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/1da05b/0000000000000000000132df/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/1da05b/0000000000000000000132df/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"brandon-grotesque";
src:url("https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"brandon-grotesque";
src:url("https://use.typekit.net/af/2f8f3d/0000000000000000000132dd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/2f8f3d/0000000000000000000132dd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/2f8f3d/0000000000000000000132dd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"brandon-grotesque";
src:url("https://use.typekit.net/af/d8f71f/0000000000000000000132e1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/d8f71f/0000000000000000000132e1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/d8f71f/0000000000000000000132e1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"brandon-grotesque";
src:url("https://use.typekit.net/af/031bc7/0000000000000000000132e5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/031bc7/0000000000000000000132e5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/031bc7/0000000000000000000132e5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"bitter";
src:url("https://use.typekit.net/af/7b3676/00000000000000003b9b364d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/7b3676/00000000000000003b9b364d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/7b3676/00000000000000003b9b364d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"bitter";
src:url("https://use.typekit.net/af/7a108a/00000000000000003b9b3649/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/7a108a/00000000000000003b9b3649/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/7a108a/00000000000000003b9b3649/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"fira-mono";
src:url("https://use.typekit.net/af/79586e/00000000000000003b9b4001/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/79586e/00000000000000003b9b4001/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/79586e/00000000000000003b9b4001/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

/*.tk-brandon-grotesque { font-family: "brandon-grotesque",sans-serif; }
.tk-bitter { font-family: "bitter",serif; }
.tk-fira-mono { font-family: "fira-mono",monospace; }*/


:root{
	--background_skin: #efefef;
	--card_background: #fff;
	--font_light: #73777c;
	--border_right: #E0E4E8;
	--font_dark: #2d2d2d;
	--line_color:  #73777c;;
	--circle_color:  #ffe600;
	--yellow_border: #ffd200;
}

*{
	margin: 0;
	padding: 0;
	font-size: 12px;
}


h1, h4{
	font-family: brandon-grotesque;
	font-weight: 700;
	color: var(--font_dark)
}
h4{
	font-size: 1.5rem;
    line-height: 1.83rem;	
}
h1{
	/*margin-block: 0;*/
	font-size: 2rem;    
	margin-left: 1.333rem;
}
body{
	
	background-color: var(--background_skin);
}
.insurance_policy_card_component{
	background-color: var(--background_skin);
}

.insurance_policy_card_component_wrapper{
	/*border: 1px solid black;*/
	padding: 1.333rem 0;
}

.policy_card_child_component{
	/*border: 1px solid blue;*/
	margin-top:0;
}


.policy_card_child_component_wrapper{
	background-color: var(--card_background) ;
	margin-left: 1.333rem;
	margin-right: 1.333rem;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: auto 5% auto;
	align-content: space-evenly;
	align-items: center;
	box-shadow: none;
	padding: 1.333rem;
    border-radius: 6px;
	row-gap: 0.6rem;
	margin-top:1.333rem;
}
.policy_card_child_component_wrapper:first-child{
	margin-top: 0.6rem;
}
.policy_card_child_component_wrapper.active{

	box-shadow:  0px 24px 32px rgba(45, 45, 45, 0.16);;
}

.policy_card_child_component_upperLevel{
	/*border:  1px solid red;*/
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 1;
}


.policy_card_child_component_upperLevel_description{
	color:  var(--font_light);
	font-family: bitter;
	font-style: normal;
	font-size: 1.15rem;
    line-height: 1.5rem;

	padding-top: 0.33rem;
}
.policy_card_child_component_middle{
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 2;
	
    border-bottom: 1px solid #E0E4E8;
}
.policy_card_child_component_lowerLevel2{
		/*border-right:  1px solid red;*/
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 3;
}

.policy_card_child_component_upperLevel_dates{
	display: flex;
	flex-direction: column;
}
.policy_card_child_component_upperLevel_formated{
	font-size: 1.333rem;
	font-family: brandon-grotesque;
	font-weight:400;
	font-style:normal;
	color: var(--font_dark);
}
.policy_card_child_component_upperLevel_span{
	font-size: 1rem;
	font-family: bitter, serif;
	color: var(--font_light);
}

.policy_card_child_component_logo{
	/*border:  1px solid red;*/
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 3;

}

.policy_card_child_component_logo_img img{
    width: 100%;
}

svg {
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;

  }

  ellipse{
		stroke: var(--yellow_border);
  }

  polyline{
    stroke: #000;
  	stroke-width: 4;
  	transform: translate(7%,0);
  }


/*
 *********************************************
	tablet
 *********************************************	
 */

@media only screen and (min-width: 835px) {

	h4{
		font-size: 1.666rem;
	}
	.insurance_policy_card_component_wrapper{
    	padding: 2.6667rem 0;
	}
	.policy_card_child_component_wrapper:first-child{
		margin-top: 2rem;
	}
	.insurance_policy_card_component_h1{
		font-size:2.666rem;
		font-weight: 900;
		margin-left: 4.75rem;
	}
  .policy_card_child_component_wrapper{
		grid-template-columns: repeat(12,1fr);
		grid-template-rows: auto 5% auto;
		align-content: space-evenly;
		margin: 2rem 4.75rem;
		padding: 1.3rem 1.3rem;
		row-gap: 1.1666rem;
		column-gap: 1.3rem;
	}

	.policy_card_child_component_circle{
		place-self: center;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-row-end: 1;

		width: 108% ;
		cursor:pointer;
		justify-self: left;
	}

	.policy_card_child_component_upperLevel_description{
	    font-size: 1.1666rem;
	    height: 1.75rem;
	    line-height: 1.75rem;
	}
	.policy_card_child_component_upperLevel_span{
		font-size: 1rem;
	}

	.policy_card_child_component_upperLevel_formated{
		font-size: 1.333rem;
	}
	.policy_card_child_component_upperLevel{

		grid-column-start: 2;
		grid-column-end: 12;
		grid-row-start: 1;
		grid-row-end: 1;
	}
	.policy_card_child_component_upperLevel h4{
		font-size: 1.6rem;	
		vertical-align: middle;
	}

	.policy_card_child_component_middle{

		grid-column-start: 1;
		grid-column-end: 13;
		grid-row-start: 2;
		grid-row-end: 2;
		margin: 0;
	}
	.policy_card_child_component_lowerLevel1{
		border-right: 1px solid var(--border_right);
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 3;
	}

	.policy_card_child_component_lowerLevel2{
		
		border-right: 1px solid var(--border_right);

		grid-column-start: 3;
		grid-column-end: 7;
		grid-row-start: 3;
		grid-row-end: 3;
		justify-self: stretch;

	}
	.policy_card_child_component_lowerLevel3{

		grid-column-start: 7;
		grid-column-end: 9;
		grid-row-start: 3;
		grid-row-end: 3;
	}
	.policy_card_child_component_lowerLevel4{
		border-left: 1px solid var(--border_right);

		grid-column-start: 9;
		grid-column-end: 12;
		grid-row-start: 3;
		grid-row-end: 3;
		    padding-left: 13%;
	}

	.policy_card_child_component_logo{

		grid-column-start: 11;
		grid-column-end: 13;
		grid-row-start: 1;
		grid-row-end: 1;

	}

	.policy_card_child_component_logo_img img{
    width: 100%;
	}


}


/*
 ******************************************
	Desktop
 *****************************************
 */

@media only screen and (min-width: 1288px) {

	.insurance_policy_card_component_h1{
		font-size: 3.333rem;
		margin-left: 6.666rem;
	}

	.insurance_policy_card_component_wrapper{
		padding: 3.7267vw 0vw;
	}
  	
  	.policy_card_child_component_wrapper{
		grid-template-columns: repeat(30,1fr);
		grid-template-rows: auto 5% auto;
		align-content: space-evenly;
		margin: 2.6666rem 6.6666rem;
		gap: 1.4rem;
	}
	
	.policy_card_child_component_upperLevel_description{
		font-size: 1.1666rem;
	}
	
	.policy_card_child_component_upperLevel_formated{
		font-size: 1.333rem;
		line-height:2rem;
		text-align:left;
	}
	.policy_card_child_component_upperLevel_span{

		text-align:left;
		padding-top: 4px;
	}
	.policy_card_child_component_circle{
		width: 85%;
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 1;
	}

	.policy_card_child_component_upperLevel{

		grid-column-start: 3;
		grid-column-end: 24;
		grid-row-start: 1;
		grid-row-end: 1;
	}
	.policy_card_child_component_upperLevel h4{
		font-size: 2rem;
		line-height: 2.5rem;
	}

	.policy_card_child_component_middle{

		grid-column-start: 1;
		grid-column-end: 24;
		grid-row-start: 2;
		grid-row-end: 2;
	}
	.policy_card_child_component_lowerLevel1{

		grid-column-start: 1;
		grid-column-end: 5;
		grid-row-start: 3;
		grid-row-end: 3;
	}

	.policy_card_child_component_lowerLevel2{
		
		grid-column-start: 5;
		grid-column-end: 12;
		grid-row-start: 3;
		grid-row-end: 3;
	}
	.policy_card_child_component_lowerLevel3{

		grid-column-start: 12;
		grid-column-end: 15;
		grid-row-start: 3;
		grid-row-end: 3;
	}
	.policy_card_child_component_lowerLevel4{

		grid-column-start: 15;
		grid-column-end: 24;
		grid-row-start: 3;
		grid-row-end: 3;
		padding-left: 1.6rem;
	}

	.policy_card_child_component_logo{
	
		grid-column-start: 24;
		grid-column-end: 30;
		grid-row-start: 1;
		grid-row-end: 4;

	}
	.policy_card_child_component_logo_img{
		padding-left: 1.4rem;
	}
	.policy_card_child_component_logo_img img{
		width: 119%;
	}


}
